$primary: #CFD1D5
$text: #666
$text-light: white
$text-dark: #42444e
$light-blue: #C8E5F4
$dark-blue: #094E96
$medium-blue: #0575BA
$accent: #ff7b29
$bg-light: #F1F2F3

// $accent-color: rgba(246, 246, 246, 0.5)
// $bg-color: #ebebeb
// $link-color: #B38049
// $selection-color: #E6E1CC
// $border-color: #979797

